[2021-01-04 18:39] MateusRodCosta opened #1 "Implement caesar cipher in a gtk-rs app"
Implement the [caesar cipher](https://en.wikipedia.org/wiki/Caesar_cipher) in Rust for a gtk-rs app.

Bounty: USD 5

<bountysource-plugin>

---
There is a **[$14 open bounty](https://www.bountysource.com/issues/95701736-implement-caesar-cipher-in-a-gtk-rs-app?utm_campaign=plugin&utm_content=tracker%2F191328815&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [Bountysource

[2021-01-04 18:44] ArtemGr commented on #1
Hey, @MateusRodCosta ! Thanks for coming up with this!
I'm curious, what makes it exciting for you to work on the cipher suite, and where will it take you?
Attaching the bounty now!

[2021-01-04 18:57] MateusRodCosta commented on #1
Hi, the idea is actually to have a relatively complex GTK app created in Rust.

It just happened that implementing some ciphers were the idea that popped up in my head and that idea seemed both relatively easy and enough for me to learn more both about Rust and GTK.

I chose the following ciphers for the app: Caesar, Atbash, Vigenere, Rot13. From which Rot13 and Atbash are already implemented. Cae

[2021-01-07 21:34] ArtemGr opened #2 "do what thou wilt"
Do what you want and tell us about it!

To claim the bounty, tell us what you did. Or better yet, post a link to a video, a blog or a tweet, share your achievement with the world!

Cheerio

P.S. If you need a larger bounty, tell us what it is you intend to do!

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/95771692-do-what-thou-wil

[2021-01-07 21:48] ArtemGr opened #3 "suggest a task"
This project is about improving the bounty ecosystem. Can you suggest a task? Will you work on it? What kind of bounty would you need?

<bountysource-plugin>

---
There is a **[$15 open bounty](https://www.bountysource.com/issues/95769071-suggest-a-task?utm_campaign=plugin&utm_content=tracker%2F191328815&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [Bountysource](http

[2021-01-07 21:51] ArtemGr opened #4 "do nothing"
Do nothing. Exactly nothing. Time it. Tell us, how did it go?

<bountysource-plugin>

---
There is a **[$17 open bounty](https://www.bountysource.com/issues/95769079-do-nothing?utm_campaign=plugin&utm_content=tracker%2F191328815&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F191328815

[2021-01-07 22:38] andrew-ld commented on #4
done.

[2021-01-07 22:50] ArtemGr commented on #4
Awesome! How did it go, @andrew-ld ?

[2021-01-07 22:52] andrew-ld commented on #4
it was like automatic breathing

[2021-01-07 22:54] ArtemGr commented on #4
lol. all right!
bounty's yours!

what kind of rewards do you like besides a monetary bounty, can I ask?

[2021-01-07 22:54] #4 closed

[2021-01-08 06:52] ArtemGr opened #5 "take a break. go out and make a picture"
Stretch your legs  D
Send us a selfie to prove you did

<bountysource-plugin>

---
There is a **[$12 open bounty](https://www.bountysource.com/issues/95776535-take-a-break-go-out-and-make-a-picture?utm_campaign=plugin&utm_content=tracker%2F191328815&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_conten

[2021-01-08 19:06] andrew-ld commented on #5
![Screenshot_20210108_200602](https://user-images.githubusercontent.com/43882924/104054199-f1746180-51ec-11eb-934b-711d5f653130.png)

[2021-01-08 19:06] developerfred commented on #2
@ArtemGr This is what I want today
https://twitter.com/codingsh/status/1343316729519288321

[2021-01-09 16:55] ArtemGr commented on #2
@developerfred
Nice! But we only accept the smallish tasks for now.
If you'd like to have a small step towards your goal funded here, do let us know.

[2021-01-09 16:56] ArtemGr commented on #5
Got a picture from @andrew-ld, but then it disappeared. What's up, @andrew-ld?

[2021-01-09 16:57] andrew-ld commented on #5
privacy problems, I will take a picture in a more distant place

[2021-01-09 17:00] ArtemGr commented on #5
You take opsec seriously in general? Proxies, tor?

[2021-01-09 17:02] ArtemGr opened #6 "suggest bounty priorities"
Tell us what kind of priorities a bounty should have?

And by priorities I mean not the external ones, like this here bounty is high priority and this one is low, but internal priorities, communicating our nonspecific preferences regarding how a particular bounty should be handled.

(And what priorities it should have not, to keep them implicit?)
(And how best to communicate these?)

<bountysource

[2021-01-09 17:38] DarkEclipse847 opened #7 "read a book about Qualitative Interviewing"
I need to improve my skills in it, so I want to read "Learning From Strangers" by Robert Weiss

<bountysource-plugin>

---
There is a **[$24 open bounty](https://www.bountysource.com/issues/95801857-read-a-book-about-qualitative-interviewing?utm_campaign=plugin&utm_content=tracker%2F191328815&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [Bountysource](https://www.boun

[2021-01-09 17:51] ArtemGr commented on #7
Hey, @DarkEclipse847 !
Let's make it about just a chapter or two, to keep the tasks small!
Godspeed digging into the book!

[2021-01-09 19:14] andrew-ld commented on #5
no

[2021-01-09 19:25] ArtemGr commented on #5
![image](https://user-images.githubusercontent.com/41847/104106865-65564e80-526d-11eb-8fb6-3fc5dacc4a71.png)

[2021-01-09 20:37] nok-ko commented on #5
Sent in my own picture, for what that's worth. 😄

[2021-01-09 21:13] ArtemGr commented on #5
@nok-ko , nice!
Thanks for taking a walk!

Closing, do the claim!

We did a similar experiment at https://www.freelancer.com/contest/take-a-break-go-out-and-make-a-picture-1873762/entries
Got some positive feedback there  D
Check it out if you want to see more of the selfies!  D

(Positive feedback also [on Upwork](https://www.upwork.com/ab/applicants/1347469384349327360/job-details), but you woul

[2021-01-09 21:13] #5 closed

[2021-01-10 00:29] nok-ko commented on #5
I found it was nice to come across it as I was scrolling through Bountysource. (Although they still haven't updated the issue's status as being closed.. >,>) I'm quite new to OSS bounties, so at least I found it nice.

[2021-01-10 00:35] andrew-ld commented on #6
bounty should have a higher or lower priority based on multiple factors, each factor will carry its own weight.

- The largest factor to consider should be the engineering complexity to perform an analysis and hypothetical resolution of the problem.

- The second factor should be the time required to go from hypothesis to implementation.

- The third factor should be the cultural background requir

[2021-01-10 01:08] ArtemGr commented on #6
We can probably communicate how much time and/or effort we'd like to be allocated to initial research, but how should we communicate the preferences regarding the cultural background? Freeform folksonomy (cultural tags)?

p.s. Also, do we really know how complex or time consuming the initial research would be?
Will that metric work as a (suggested) iterative communication between the parties?

p.s

[2021-01-10 03:21] GiraffeKey opened #8 "Add indexes to Griffin"
Add indexes to [Griffin](https://github.com/GiraffeKey/griffin) that follows the spec [here](https://docs.mongodb.com/manual/indexes/).

In Griffin it would be in the form of separate collections that are edited upon writes and read without attempted sorting if the index exists. This adds more overhead to writes but speeds up reads.

<bountysource-plugin>

---
There is a **[$83 open bounty](https:

[2021-01-10 08:50] andrew-ld commented on #6
- but how should we communicate the preferences regarding the cultural background?: tags are inserted in the request in which is inserted in a generic way the main things that you think are required?

for example if it is a computer problem and is required the relationship of a software with libraries and specific languages you could inform the user with the tags that is required a cultural backgr

[2021-01-10 09:14] ArtemGr commented on #6
I see!

Is the culture similar to the skill tags we have on Upwork and Freelance, or is it different? A superset?

[2021-01-10 09:34] andrew-ld commented on #6
it takes generic tags to start talking about the scope of the problem (for example: math, biology) then some specific tags on the topic (for example: java, async programming)

[2021-01-10 21:44] ArtemGr commented on #8
Hey, @GiraffeKey ! Nice to see you here!

And glad to see your task!
Neat!

I've posted a bit of a bounty.

![image](https://user-images.githubusercontent.com/41847/104136197-82f8e600-5349-11eb-8cc9-e124843d720f.png)

Will add 63 more if you'd make a video or a blog (or a tweet!) - about this new feature of index collections in Griffin - and post it on a social media somewhere!

![image](https://u

[2021-01-11 07:03] developerfred commented on #2
@ArtemGr Of course, every step is important. Thanks for the support.

[2021-01-12 22:30] DarkEclipse847 commented on #7
Kk

[2021-01-13 03:58] giraffekey commented on #8
https://airtext.xyz/blog/giraffekey.id.blockstack/OHQQu72pPdVNZ7k

[2021-01-13 20:08] andrew-ld commented on #6
@ArtemGr news?

[2021-01-13 20:17] ArtemGr commented on #6
Wanted to give it a proper look later, when I have certain things nailed down, but it might be a while. Has been a very useful input nevertheless.

I'm thinking of a tool and/or simply a document that would suggest such internal priorities, kind of a cheatsheet when filing an issue, and also a place for people to go see what the hell we are talking about  D

( precedence of such documents: https:/

[2021-01-13 20:17] #6 closed

[2021-01-14 00:05] ArtemGr commented on #6
cf. https://github.com/ArtemGr/gun/commit/6d885542866d02d755ac442b55a59eb4864c2231 (distance)

[2021-01-14 00:43] #2 closed

[2021-01-14 03:46] ArtemGr commented on #6
Started an ObservableHQ document/interface, https://observablehq.com/@artemgr/open-source-bounty-guide

[2021-01-18 04:23] ArtemGr opened #9 "generate and upload gource GIFs"
The goal is to feature gource snippets in a github README

<bountysource-plugin>

---
There is a **[$13 open bounty](https://www.bountysource.com/issues/95996705-generate-and-upload-gource-gifs?utm_campaign=plugin&utm_content=tracker%2F191328815&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tr

[2021-01-19 03:23] giraffekey commented on #8
https://github.com/GiraffeKey/griffin

It's done.

One thing of note is I decided not to automatically update indexes when you change the source collection.

So if you make collection "dogs" and insert a new dog you can do this:

[code]

[2021-01-19 03:23] #8 closed

[2021-01-19 20:56] DarkEclipse847 commented on #7
What do you mean while saying chapter two? :D
Second chapter in *Part* 1 or Second *Part* of the book

[2021-01-20 13:34] ArtemGr commented on #7
Had just the second chapter in mind!

[2021-01-20 13:35] ArtemGr commented on #8
Congratz!
What's next on your plate?  D

[2021-01-20 19:19] giraffekey commented on #8
I still need to write some unit tests and documentation.

However I think the best way to test it and stabilize the API is to take it into production - which is why I am going to build an actual application with it.

[2021-01-20 19:48] MateusRodCosta commented on #1
Hi, so this took a bit longer than I expected. Thanks for waiting anyway.

While I did finish the Caesar cipher early, I had decided that I would only make the app public after finishing all 4 ciphers, and the Vigenere cipher took a long time to understand and code (it's however just a more complex caesar cipher, so once I understood that, it was easy).

Anyway, the repo is at https://gitlab.com/M

[2021-01-21 12:53] ArtemGr commented on #8
![image](https://user-images.githubusercontent.com/41847/105352145-6149fb00-5ba2-11eb-88b4-41417e9b8378.png)

Woot! D

[2021-01-21 19:16] DarkEclipse847 commented on #7
## Introduction
 *If i will have any additional thoughts about it i will add them to github or personally to telegram*
 Firstly, In second chapter we can see some introduction part that we need to pay attention.
 Qualitative Interviewing is not always about numerical data or something, it's about psychology and communication with colleagues/friends.
 Collecting such information is great for unders

[2021-01-21 23:30] GiraffeKey opened #10 "Write initial documentation for Griffin"
[Griffin](https://github.com/GiraffeKey/griffin) needs to get some documentation started.

As a start, a page can be written about the query language used in find, update and replace operations. It is fairly straightforward and easy to understand but there is nothing written out that goes into it in great detail. It's pretty much the same as Mango though there may be minor differences.

The page c

[2021-01-22 00:55] #7 closed

[2021-01-22 00:56] #1 closed

[2021-01-22 00:59] ArtemGr commented on #1
Hey, @MateusRodCosta !
Thanks for participating in the experiment!

What is something non-technical that you've learned while working on this?
Where would you post about it (or have posted), and how would you approach telling the world about it?

[2021-01-22 01:01] ArtemGr commented on #7
Thanks for doing this, @DarkEclipse847 !
Did you like the interviewing examples in the book?
What will you read next?

[2021-01-22 02:22] ArtemGr commented on #10
Hey, @GiraffeKey !
So nice to see you!

Can you tell us a bit about https://github.com/GiraffeKey/kadis ? How does it compare with GUN? What's cool about it? What's not? Is griffin a development of the kadis idea somehow?

[2021-01-22 14:21] DarkEclipse847 commented on #7
Yep, I like it, there's comfortble table in Part 4, check it out!
Thinking of reading some books about selfhypnosys
Btw if you have some good books please tell me their titles

[2021-01-22 14:50] ArtemGr commented on #7
That's a tough one! There is no single book. On one hand, SH can be described sufficiently in one paragraph (as done by Ian Rowland). On another, one might want to [reinvent](https://slightlyeastofnew.com/2020/10/13/peeringly-deeply/) the thing. I'll likely get back to you on Telegram.

[2021-01-24 21:56] giraffekey commented on #10
Originally I was thinking of a networking stack which is mostly user data based but stored public data in a DHT. It's essentially just to give Kademlia some extra functionality. However now I am thinking BigchainDB or similar would be better. I may experiment with emulating blockchain functionality in Griffin using the Avalanche consensus protocol.

[2021-01-24 21:58] giraffekey commented on #10
Kadis has no connection to Griffin's usage of Kademlia.

[2021-01-25 07:09] ArtemGr commented on #10
Awesome!
I'd very much like to see that!
I mean, the process of adding the Avalanche!

[2021-01-25 21:27] agarwalrounak commented on #10
Hi @GiraffeKey and @ArtemGr!
Can I work on this issue to create an initial documentation for Griffin?
Will I be eligible for the bounty?

[2021-01-25 23:16] giraffekey commented on #10
Yes.

You can edit this wiki page: https://github.com/GiraffeKey/griffin/wiki/Query-language

You can find the implementation in the "matches" function: https://github.com/GiraffeKey/griffin/blob/main/core/lib/util.js

The query operators are similar to the ones here: https://docs.mongodb.com/manual/reference/operator/query/

[2021-01-26 10:25] agarwalrounak commented on #10
I am not able to edit the wiki page. The access permission for wikis is limited to collaborators only. You will need to change the access permissions: https://docs.github.com/en/github/building-a-strong-community/changing-access-permissions-for-wikis
Or
I can open a PR with the markdown file and it can be added to the wiki later.

Let me know what works for you.

[2021-01-26 17:40] giraffekey commented on #10
A docs folder with markdown may be more useful because they may be used to generate website content later on.

[2021-01-26 17:48] ArtemGr commented on #10
Files also show up in the GitHub statistics/benchmarks  )

[2021-01-26 18:36] agarwalrounak commented on #10
I will get started right away with creating the initial documentation.

Currently looking at the implementation of query operators in the `matches` function in `util.js` and also going through the mongodb docs. Excited to be learning a lot from this!

Will send a PR containing basic documentation to Griffin repository soon!

[2021-01-26 19:56] ArtemGr commented on #10
Am happy to hear that, @agarwalrounak !
Do you make selfies, and/or screen capturing webcam videos?

[2021-01-26 21:50] GiraffeKey opened #11 "Research market and create design docs for new project"
I am starting a new project called Ogre Drive which is going to function as an open source GUN/Sia-based alternative to Google Drive/OneDrive/etc.

This is going to be the first project to use Griffin in production. It has two objectives: challenge and compete with centralized, proprietary solutions to cloud storage, and provide real-world testing for Griffin's use cases. I expect this to help Gri

[2021-01-27 05:17] agarwalrounak commented on #10
@ArtemGr No. But why?

[2021-01-27 07:09] ArtemGr commented on #10
It's a theory of mine that when people attach a selfie to their work, something quite magical eventually happens   :-p

[2021-01-28 23:23] giraffekey commented on #11
I have created the template for the project here: https://github.com/OgreApps/drive

The UX/features documentation was done very thoroughly, I have a very good idea of what to do and how to implement it now.

For project tasks, I decided I'd rather use Github issues than Basecamp or Trello as I tend not to need kanban that much and it's more convenient to keep everything in the same place. Maybe w

[2021-01-28 23:23] #11 closed

[2021-01-30 00:11] giraffekey commented on #11
![image](https://user-images.githubusercontent.com/11844126/106339846-a62dfb80-624c-11eb-86e6-d376b1f8b074.png)

[2021-01-30 00:12] giraffekey commented on #11
UI I created with CSS

[2021-01-30 19:27] agarwalrounak commented on #10
Opened PR https://github.com/GiraffeKey/griffin/pull/5

Should be enough to get Griffin started with some documentation.

[2021-01-31 01:25] #10 closed

[2021-01-31 07:38] ArtemGr commented on #10
Nice!

Rounak, what else do you do?
And are you using or going to use the Griffin now?

[2021-01-31 07:52] ArtemGr commented on #11
Neat!

Regarding the kanban, have you seen/used the GitHub project boards?

Some interesting tidbit(s) you've learned about the competitors?

[2021-01-31 08:06] giraffekey commented on #11
Ah yeah I have seen the kanban boards I guess I just need to explore Github more.

Something interesting I noticed was they all placed a major focus on integrations. They also place limitations on storage and have inflexible pricing. Google Drive doesn't let you store more than 2TB I think. I also noticed Dropbox is very sucky lol, it has barely any features not sure why it's so popular.

I think

[2021-02-01 09:13] agarwalrounak commented on #10
I will surely use Griffin in my projects.

[2021-02-01 09:16] agarwalrounak commented on #10
As of now, @GiraffeKey is performing a rewrite of Griffin. After that is done, I am willing to add implementation of new operators for Griffin.

@GiraffeKey by when do you expect the rewrite to be completed?

[2021-02-01 09:18] giraffekey commented on #10
Within the next couple of days, this rewrite will be a lot more usable than the initial one. The logic is mostly the same and the initial version only took two days so.

[2021-02-01 09:33] giraffekey commented on #10
There are some things you might be able to help with when I finish up some things later this morning (rn it's 1:30am and I'm going to bed soon).

Since the logic is similar, once I rewrite the find operation logic you can prob compare the old & new versions and figure out how to do insert, update, etc.

And I will also need to set up a unit testing suite. I'll do the initial setup, if you want to

[2021-02-01 10:12] agarwalrounak commented on #10
Awesome! Looking forward to the changes.

Yes, I do use Discord.

[2021-02-01 15:42] MateusRodCosta commented on #1
@ArtemGr Hey, sorry for the delay, I have been somewhat busy these last days.

Non-technical stuff.... Let me think.

I think I learned the ciphers, from which the Vigenere was the hardest and I only ever managed to learn how to implement that one by looking at some other code for it in C.

While not something new, when I have issues with or questions about Rust, I usually ask for help in some of

[2021-02-01 17:38] ArtemGr commented on #10
@GiraffeKey and do you use Telegram? It's cool to [telescope](https://telegram.org/blog/video-messages-and-telescope) once in a while. @agarwalrounak found me on Telegram recently. There's also https://t.me/bounty_aga

[2021-02-02 09:21] ArtemGr opened #16 "a script to fetch fresh Requests from Fiverr"
And how would you approach writing such a script?

<bountysource-plugin>

---
There is a **[$32 open bounty](https://www.bountysource.com/issues/96324401-a-script-to-fetch-fresh-requests-from-fiverr?utm_campaign=plugin&utm_content=tracker%2F191328815&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_conte

[2021-02-02 10:13] ArtemGr commented on #9
@GiraffeKey, so if we post an animated GIF to Sia, will it have a web URL (for GitHub to load it into a README)?

[2021-02-02 11:18] #16 closed

[2021-02-03 12:23] ArifSanaullah commented on #9
@ArtemGr I'm done with creating gif. Now working to publish that gif onto a static URL so that I can use that URL inside README.md.
=> https://github.com/ArifSanaullah/gource/blob/main/.github/workflows/gource.yaml

[2021-02-04 16:38] ArtemGr commented on #9
Implemented by @ArifSanaullah at https://github.com/ArifSanaullah/gource

[2021-02-04 16:38] #9 closed

[2021-02-06 14:45] #3 closed

[2021-02-09 09:34] ArtemGr opened #20 "run the Gource nodejs script in the Actions"
In order to [retry gource when it fails](https://github.com/ArtemGr/bounty/blob/b24ebaff92753f049645680adb5852409d1f73b3/gource/gource.js#L4), and to add various scripted gource customizations in the future, and to add scripted GIF uploads,

Should patch https://github.com/ArtemGr/bounty/blob/main/.github/workflows/gource.yaml to run gource through the nodejs script, https://github.com/ArtemGr/bou

[2021-02-10 16:55] ArifSanaullah commented on #20
#21 see this PR, please.

[2021-02-27 02:00] giraffekey commented on #10
I moved and had my internet out for a while. Updates to Griffin are up!

[2021-02-27 02:22] ArtemGr commented on #10
Wow, nice nick!
Didn't know you can change that!  D

[2021-03-10 05:36] ArtemGr opened #23 "script and library in one"
Figure how to allow for invoking a NodeJS script from the command line while ALSO using it as a library with exports.

The issue is solved when we can demonstrate invoking the same JavaScript file J from the command line, `node J --arguments`, and with `npm install` from another package.

https://github.com/ArtemGr/bounty/blob/549cc6c94eb67b1d9beea9eead5a1c8d53ecfcfc/google-drive/google-drive.js#L

[2021-03-10 19:08] Nabeelhassan commented on #23
Hey mate, have you seen https://github.com/super-cache-money/make-runnable? it is able to run 'require' scripts and has a few examples. I tested them out. They work fine for function exports but no good for class exports.

what type of nodejs script areyou planning to execute ?

[2021-03-11 08:05] ArtemGr commented on #23
Hi, Nabeel!
Looks cool, will give it a go!

Function exports will do!
Most libraries should be runnable, IMHO, and vice versa.

make-runnable might be too heavy for the smaller libraries (such as [log.js](https://gist.github.com/ArtemGr/25fad725870b0ada74df2bce7d115cc1) or [termkit-pause](https://gist.github.com/ArtemGr/1e668405bb07bb330cc4717f6b8f891e)) but we can check their code to see how they

[2021-03-11 11:33] mkamalkayani commented on #23
You can execute functions in the .js files in the command line like this:

`node -e 'require("./index.js").pause()' `

[2021-03-11 12:03] ArtemGr commented on #23
Following the example of make-runnable I've found https://nodejs.org/dist/latest-v15.x/docs/api/modules.html#modules_accessing_the_main_module

cf. the changes in https://gist.github.com/ArtemGr/1e668405bb07bb330cc4717f6b8f891e/revisions
![image](https://user-images.githubusercontent.com/41847/110784402-819b4b00-821e-11eb-9ae4-7efe69c723e9.png)

Also using the form suggested by @mkamalkayani in pa

[2021-03-11 12:03] #23 closed

[2021-03-17 14:11] ArtemGr opened #24 "given youtube video ID, grab title and description"
## user story

As someone who knows an ID of a youtube video, I can run a NodeJS command to grab the title and description, in order to save time on manual copy-pasting.

## acceptance test

Running `node grab-youtube-title.js https://youtu.be/5hVmeOCJjOU` we should see something like

    title: A Brief History of Quantum Mechanics - with Sean Carroll
    channel: The Royal Institution
    channe

[2021-03-17 15:04] Nabeelhassan commented on #24
There are a npm packages I found [simple-youtube-api](https://www.npmjs.com/package/simple-youtube-api). It has 80k downloads, but the package is no longer maintained so its a bad option.

The official youtube api docs has a sample.
`https://developers.google.com/youtube/v3/quickstart/nodejs`

This might be the right way to go in my opinion. The only npm package required is the googleapis for oaut

[2021-03-17 15:40] ArtemGr commented on #24
Looks like the official API requires a secret similar to https://github.com/ArtemGr/bounty/tree/main/google-drive. Fine by me.

[2021-03-17 21:47] Nabeelhassan commented on #24
Check your dm on fiver. I have sent the script as zip file.

Follow the [guide](https://developers.google.com/youtube/v3/quickstart/nodejs), install the client libraries and setup an app with oauth.

I couldn't get the user name as it was not provided in the response. [More on Video endpoint](https://developers.google.com/youtube/v3/docs/videos)

It will also work for multiple urls too.
example:

[2021-03-18 16:26] srevinsaju commented on #24
Is this bounty solved?

[2021-03-18 17:43] ArtemGr commented on #24
@srevinsaju , looking at https://github.com/ArtemGr/bounty/commit/43b8e74b1f1ade6f103acc083071f708ba8cd233

[2021-03-18 17:54] srevinsaju commented on #24
@ArtemGr  Ok cool, Thanks for the commit. I will share a link to a private gist of my implementation,

[2021-03-18 17:59] ArtemGr commented on #24
@srevinsaju , PR to youtube/ ?

[2021-03-18 18:00] srevinsaju commented on #24
Ok

[2021-03-18 18:12] ArtemGr commented on #24
@jdmiii, how it's going with https://github.com/jdmiii/grab-youtube-title, what's your next step?

Just checked @Nabeelhassan 's version and it works. We can have both the API and HTTP modes though.

@Ich5003 , I see a question on Bountysource,

![image](https://user-images.githubusercontent.com/41847/111676091-0bc54f80-87db-11eb-8608-e596c9c9d63d.png)

but I can not answer you there.

[2021-03-18 18:42] #24 closed

[2021-03-18 18:49] Nabeelhassan commented on #24
well I have seen your code @srevinsaju. The package you are using youtubei in-turn is using youtube v1 api which will be [depreciate](https://developers.google.com/youtube/v1_deprecation_notice) 3 years after v2.

My code using v3. I dont think have access tokens would hurt as it is the way to go.

[2021-03-18 18:53] ArtemGr commented on #24
I like both versions, will make them interchangeable maybe.

[2021-03-18 18:56] srevinsaju commented on #24
Yes, I agree @Nabeelhassan . Your implementation will work in the long run.

 Sometimes, some prefer to get stuff running as quick as possible, (i.e without the hassle of getting API keys for example), that might be a possible use case. I appreciate your implementation.

[2021-03-18 19:01] ArtemGr commented on #24
@srevinsaju , what do you like about Open Source?

[2021-03-18 19:06] srevinsaju commented on #24
I love how we can learn from different people, I love to learn new things. I love the collaboration in open source. Possibly, its 'open source' what built me, taught me. I had awesome mentors, everyone is willing to help, everyone has opinions, and everyone's opinions are 'valued'. Your education, degree, age, .. nothing matters in open source. If you have passion, you can even submit a patch into

[2021-03-18 20:03] ArtemGr commented on #24
I've just discovered https://archivy.github.io/difference/ through @srevinsaju 's profile and I share the idea of getting some of our data back. YouTube tool is the first in a series of tools aimed at simplifying the structured access and synchronization of public and personal data(sets).

[2021-03-18 20:08] srevinsaju commented on #24
Agreed, for videos, `youtube-dl` as mentioned in this PR is simply awesome, for websites, articles and blog posts, [Archivy](https://github.com/archivy/archivy) and [ArchiveBox](https://github.com/archivebox) (both are awesome tools, they help each other, and work for the same mission). Someday, I might add a youtube-dl feature to Archivy which would automatically download the video embedded too.

[2021-03-18 20:46] ArtemGr commented on #24
Can we experiment with making a Python wrapper that would allow to use these/such JS tools directly?

[2021-03-18 20:54] srevinsaju commented on #24
I can write a python script and a golang script to do the same thing which we did in javascript. Would that be good?

[2021-03-18 20:57] ArtemGr commented on #24
I have other tools in mind, some of them on playwright, and duplicating them in python seems like a nonstarter to me.
I mean, everything can be ported or recreated eventually, but it would be a non-goal right now.

[2021-03-18 21:01] srevinsaju commented on #24
oh, ok. What is your requirement? I didnt understand how we could make a python wrapper for the same

[2021-03-18 21:02] srevinsaju commented on #24
if you are thinking of making it accessible from the terminal in one command, an, `npm install -g .` would create `youtube-title-grab` script, which can be then used to access the node script from the terminal.

[code]

would then get the metadata

[2021-03-18 21:04] ArtemGr commented on #24
I mean Archivy / ArchiveBox [plugin(s)](https://archivy.github.io/plugins/), using JS tools underneath.
Let's maybe get back to it once we have more tools there.

[2021-03-18 21:06] srevinsaju commented on #24
Oh, a simple command which can automatically run all this scripts, and this repository can act like a collection of utility scripts?
Thats sounds like a good idea.

[code]
you mean like this?

[2021-03-18 21:07] ArtemGr commented on #24
Yep. The tools there will likely emit JSON and YAML and will have a JS API as well.
A python wrapper might also be useful, say, in kaggle/colab.

[2021-03-18 21:14] srevinsaju commented on #24
Cool, that would be awesome. Actually, a similar idea has been featured on Hacker News https://ianthehenry.com/posts/sd-my-script-directory/ (https://news.ycombinator.com/item?id=26461051). The author puts forward a similar idea, but he thinks it could be considerably improved. Possibly, we might like to get some inspiration from his article too.

[2021-03-18 21:20] ArtemGr commented on #24
Will take a look!
And I'll roll out a few more tools in a month to give a sense on the shape of APIs.

[2021-03-19 08:43] matheusn17 commented on #24
HI!
Already solved the issue, if you still need it.

The solution use the V3 youtube API, through HTTPS request. It also can retrieve any information related to the video avaible through the youtube API. You just need your API KEY(theres is a temporary one on the code for test purposes)

[2021-03-20 15:03] SuspiciousLookingOwl commented on #24
`youtubei` doesn't use the [official API](https://developers.google.com/youtube/v3), it uses the internal API for the web client, hence why it doesn't require any API key. I'm pretty sure they are different.

[2021-03-20 19:36] ArtemGr opened #26 "find or recreate binprint in JS"
In Rust I have this function to log untrusted data (such as the contents of the Origin HTTP header) in order to prevent [log attacks](https://owasp.org/www-community/attacks/Log_Injection):

https://github.com/ArtemGr/gstuff.rs/blob/0e42dcddf25dd9cd53f25ee75ec50e417310f9d4/gstuff.rs#L584

[code]

Let's reproduce and/or find it in JS.

## discussion

In JS a regular expression might be appropriate,

[2021-03-21 07:01] TheOsch commented on #26
Here it is, in the pull request #27

[2021-03-21 12:46] ArtemGr commented on #26
Interesting, thanks!

[2021-03-21 12:46] #26 closed

[2021-03-25 06:18] TheOsch commented on #26
Excuse me please, can you accept my claim at BountySource? Need money.

[2021-03-25 09:54] ArtemGr commented on #26
Done!

[2021-03-25 10:02] TheOsch commented on #26
Thank you!

[2021-03-26 10:27] ArtemGr opened #28 "use the likes of levelup to store items in observablehq"
https://observablehq.com/@artemgr/path has the `fileForm` cell. I want the code in that cell to store the items in the browser's IndexedDB, but through a wrapper that is lightweight, convenient and compatible with NodeJS  =D

https://github.com/Level/levelup looks good for that?

Acceptance test would be to file a number of items through that form in a fork of https://observablehq.com/@artemgr/pat

[2021-03-26 11:34] ArtemGr commented on #28
![Screenshot_2021-03-26-14-33-30](https://user-images.githubusercontent.com/41847/112625829-73fddc00-8e40-11eb-9e6f-be5adea22283.png)

[2021-03-26 19:44] TheOsch commented on #28
Hello!

LevelUp works with LevelDB, not IndexedDB. IMHO it doesn't suit.
I found a pretty library called Dexie, it's powerful and very simple at the same time . Please look at this: https://observablehq.com/d/602f3b3d0d67a121

[2021-03-26 20:04] ArtemGr commented on #28
Nice!

BTW, what do you think this project is all about?  D

[2021-03-26 20:04] #28 closed

[2021-03-26 20:05] TheOsch commented on #28
Hm... What is it about?

[2021-03-27 11:46] ArtemGr commented on #28
We've also experimented with @Speedwares on loading the levelup, decided against it, but came up with the following ObservableHQ snippet in the process:

    viewof requirejsExperiment = {
      const script = document.createElement ('script')
      script.src = 'https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.js'
      await new Promise ((resolve, reject) => {script.onload = resol

[2021-03-27 11:54] ArtemGr commented on #28
I guess there are different ways to look at it. One is - making the data more accessible and learning to work with it. Like the data about the bounties and the freelance jobs and the freelancers for instance, but other kinds of user data as well. We also want to learn to synchronize the offline-first data better, between the various servers and devices. Make sharing the data easier.

Feels like..

[2021-03-27 12:11] TheOsch commented on #28
This is an interesting snippet. Does it work? I had some troubles loading some modules into  ObservableHQ (I examined many of them to find the best one), this  trick could help me (fortunately, the one that looked like the best one appeared to be compatible  with  ObservableHQ's `require`).

When I browsed the libraries for IndexedDB I saw something about it but rejected that module for some reaso

[2021-03-27 12:25] TheOsch commented on #28
Found the library I told about: https://github.com/mWater/minimongo . It doesn't seem lightweight but it has something about the synchronization and many other things that may appear useful.

[2021-03-27 12:30] ArtemGr commented on #28
I think so,

![image](https://user-images.githubusercontent.com/41847/112720373-25d9ee80-8ebb-11eb-85b1-b613f8abad65.png)

I'm going to look at cpisync and how they're using cuckoo filters.
Was going to experiment with merkle trees before that.
Most databases encapsulate the data in a way that does not support the manual tinkering of it very well. I did a few of such implementations myself. But no

[2021-03-27 12:43] TheOsch commented on #28
I'll study this document.

[2021-04-05 15:47] ArtemGr opened #29 "Example of a REST/AJAX ISyncProtocol server"
Following up on https://github.com/ArtemGr/bounty/issues/28, if we want to synchronize the in-browser Dexie database with a server, we might implement the https://dexie.org/docs/Syncable/Dexie.Syncable.ISyncProtocol on the server for that.

I'd like to have a [minimal](https://en.wikipedia.org/wiki/Minimal_working_example) NodeJS example implementing ISyncProtocol with a REST server. (Unless there

[2021-04-05 19:30] Speedwares commented on #29
Aha I think I see what you are going for. So the mutations and queries  to Dexie now happen at the backend instead and reading the Isync protocol I can see that it is framework independent

[2021-04-05 20:14] ArtemGr commented on #29
I hope it's offline-first, so the mutations can happen anywhere (aka master-master), but I haven't looked deeper into that yet

[2021-04-05 20:30] Speedwares commented on #29
Ya I get what you mean saving in the browser before heading to the backend. Already spinned up repli server, will see and let you know if it works

[2021-04-06 12:56] ArtemGr commented on #29
You can share your ongoing progress for the sake of collaboration, too!  D

[2021-04-06 21:10] Speedwares commented on #29
Ya makes sense

[2021-04-06 21:12] Speedwares commented on #29
So I have been able to get a little version working I am using this  https://github.com/nponiros/sync_server which writes the data to disk and shows it in a config.json file

[2021-04-06 21:13] Speedwares commented on #29
Then I am using ajax to write to the server and that is working now

[2021-04-06 21:14] Speedwares commented on #29
But all was done locally on my machine because I kept getting the no modules import error from observable and repll was having a no permission issue to write to disk. So I developed locally but can share the code if needed

[2021-04-06 21:17] Speedwares commented on #29
Also, sync server does not work so well with node 14.0  so I am using node 12 for it but its currently saving the data successfully on the backend. I am trying to connect to indexdb right now and see if I can implement the offline first

[2021-04-06 21:21] Speedwares commented on #29
I also did come across this https://github.com/nponiros/sync_client for syncing with the sync server but did not get much from the documentation and decided to go with sending it plainly instead of using the sync_client. I will hopefully have everything for testing soon. But will let you know when I figure out the saving to the frontend first before the backend.

[2021-04-07 00:53] ArtemGr commented on #29
Have you looked at https://dexie.org/cloud/ ?
I wonder if it's using the same ISyncProtocol? Maybe a more alive implementation than the older sync_client?

Sounds interesting.
So you're implementing a synchronization plugin through the `addons`?

Sounds good, maybe fork the `bounty` here and push the code into the fork.
In the long run I'm not going to use the `sync_server`, too much unnecessary c

[2021-04-07 15:13] Speedwares commented on #29
I have not actually. But saw it when going through. Ya I think it might also be using the same protocol but will check this out today.

Ya you might look at it in that way. The sync server did leave some examples on ways to send data to it so I used one of them  to do this instead of using the client which was basically doing the same thing under the hood

Alright will do that.

I won't say it act

[2021-04-07 21:54] Speedwares commented on #29
Researched the Dexie Cloud and I don't think it uses the ISync Protocol. Looked well around and did not see them mention it anywhere. But I just PR the code for the client and the server.

I got the sync client to work very well with IndexDB and server.  The sync is working properly now it sends an AJAX request every 2 seconds to make sure the two are synced.

[2021-04-08 08:07] ArtemGr commented on #29
Thanks for the research, @Speedwares !
(Collaborative bounty paid out via Freelancer)

Definitely a signal that Dexie is not transparent/reusable enough. Because instead of reusing the [two-way](https://github.com/nponiros/sync_client/blob/103f1ca04b6ce3201f58086443a9a6b27fb161ca/src/poll_sync_protocol.js#L40) synchronization of Dexie, and/or reusing the Dexie addons, you have [started](https://gi

[2021-04-09 10:12] it-baron commented on #28
Look for https://rxdb.info/. It has also replication feature and observable collections.

[2021-04-12 08:42] #29 closed

[2021-04-12 18:32] ArtemGr commented on #29
Google accidentally pointed me at https://blog.textile.io/local-first-threaddb/
cf. https://observablehq.com/@carsonfarmer/threaddb-usage-demo/2

[2021-04-13 15:39] Speedwares commented on #29
Oh nice just scanned through the post and the observable notebook. You want us to try this out instead?

[2021-04-13 16:08] ArtemGr commented on #29
Yep! Would be nice to have a fresh working example!
(I also plan to read the [paper](https://docsend.com/view/gu3ywqi) soon)

[2021-04-14 14:31] Speedwares commented on #29
OK sounds good, will see if I can replicate the example from the blog post. Do you want us to create an order on freelancer for it or you want to use bountysource

[2021-04-14 18:51] ArtemGr commented on #29
Interestingly, the [paper](https://docsend.com/view/gu3ywqi) comes to what I call the *JIT consensus*: "conflict resolution is *deferred* to a point at which a decision is actually required .. means that apps can choose conflict resolution strategies specific to the tasks at hand".
(Came to the same design decision about a year back).

And what I call *owning the data* they call "user-siloed".
(Se

[2021-04-15 00:21] Speedwares commented on #29
Hmm this sounds interesting just checked ThreadDB out and just saw that it is built on top of IPFS which really I have been digging for a long time really an awesome protocol

Alright noted this makes sense

ok so the comm function adds a new line with the comment variable to the file, nice

Will try this out. I have logged in previously

Ok no problem, I think I will use freelancer and just track

[2021-04-27 16:47] ArtemGr opened #31 "paint on ObservableHQ canvas"
In order to make it easier for people to make interactive canvas drawings and animations.

Find or make an ObservableHQ that [clearly](https://en.wikipedia.org/wiki/Minimal_working_example) demonstrates mouse handling on a canvas element, translating mouse position and clicks into events and coordinates handled in the canvas drawing code.

Might be a fork of https://observablehq.com/@artemgr/canva

[2021-04-27 17:42] it-baron commented on #31
completed
https://observablehq.com/@akud82/canvas-animation-template

[2021-04-27 18:17] ArtemGr commented on #31
Awesome, thanks!  <3

[2021-04-27 18:17] #31 closed

[2021-05-05 10:55] ArtemGr commented on #24
@srevinsaju , so here's what I've been talking about:

https://github.com/ArtemGr/bounty/tree/main/data/steam - a command to fetch the list of Steam games

https://github.com/ArtemGr/bounty/tree/main/data/firefox - a command to fetch the list of firefox tabs

https://github.com/ArtemGr/bounty/tree/main/data/youtube-music - a command to fetch songs from a YouTube playlist

Question is, would you li

[2021-05-05 11:00] srevinsaju commented on #24
Its possible, and it looks like a really good idea.

I can try to create a wrapper, right now I am held up with other projects. Let me know if you are posting a bounty on this, to speed up the work 😄

[2021-05-05 11:02] ArtemGr opened #32 "wrap NodeJS data acquisition for Python/Archivy"
cf. https://github.com/ArtemGr/bounty/issues/24#issuecomment-832596839

<bountysource-plugin>

---
There is a **[$132 open bounty](https://www.bountysource.com/issues/98280949-wrap-nodejs-data-acquisition-for-python-archivy?utm_campaign=plugin&utm_content=tracker%2F191328815&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [Bountysource](https://www.bountysource.com/?utm_

[2021-05-05 11:07] ArtemGr commented on #24
@srevinsaju,

Sure thing!

Bounty posted, https://www.bountysource.com/issues/98280949-wrap-nodejs-data-acquisition-for-python
to help you with allocating some time 😃

[2021-05-05 11:16] srevinsaju commented on #24
Awesome, I will get to working and will submit a PR, probably today :tada:

[2021-05-05 14:47] ArtemGr commented on #6
Might be interesting to see how this idea evolved: https://observablehq.com/@artemgr/pomodoro-freelance

[2021-05-06 09:48] #32 closed

[2021-05-06 09:54] ArtemGr commented on #32
https://youtu.be/NIKBYBvIk2M, watch at 2x  =

[2021-05-06 09:57] ArtemGr commented on #32
https://youtu.be/NIKBYBvIk2M, watch at 2x  =

[2021-05-06 19:20] srevinsaju commented on #32
Cool, also take a look at https://github.com/ArtemGr/bounty/tree/main/wrap, for the README.md and setup information. My test system was Linux, but I have added some basic code to handle windows environment too. Let me know if the `README.md` needs to improve. Looking at your video, I felt that I need to include more descriptive documentation in the code, which I will cover in an upcoming pull requ

[2021-05-06 20:00] ArtemGr commented on #32
Yeah, I'll look from the other end next time.
Have a notion to see it in action by using it as a library from a colab notebook or something like that.

[2021-05-12 17:04] ArtemGr commented on #6
Related to this are benchmarks, cf. https://github.com/ArtemGr/bounty/commit/904e84187874b5cbd3dbe420c264b6269f2676f8

[2022-01-31 12:41] ArtemGr opened #34 "port MNIST download from JS"
Moving AI research from JS to Python we should maybe port [`load-mnist.js`](https://github.com/ArtemGr/bounty/blob/1621256/data/elm/load-mnist.js) to Python or Rust, to make MNIST more easily accessible from the various AI experiments.

cf.
https://www.kaggle.com/oddrationale/mnist-in-csv on the easy-to-use CSV format
http://yann.lecun.com/exdb/mnist/ MNIST DATABASE, along with published test erro

[2022-01-31 12:56] ArtemGr opened #35 "ELM in JAX"
Should implement the simple/original ELM as a Python module (with PyO3),
in order
a) to reuse the SVD/pinv which are readily available in Python (vs link speed costs in Rust),
b) to make it easier reusing or testing AI experiments from Python notebooks and such.

p.s. Of note is https://github.com/PyO3/rust-numpy, should benchmark how fast can we make a numpy array with it.
Should also measure the

[2022-01-31 13:02] ArtemGr opened #36 "Post-ELM genetic"
(*After some consideration, I think that instead of implementing genetic algorithm on a linked graph, as [this "Evolving Neural Networks through Augmenting Topologies" implementation](https://github.com/pkalivas/radiate) does, which involves growing and shrinking neural connections with heap allocations and pointers, we can make do with a fixed [switchboard](https://images.fineartamerica.com/image

[2022-01-31 13:11] TheOsch2 commented on #34
I feel it's a temptive task. I'd try to make it in a few days if nobody would make it before me.

[2022-02-01 07:56] ArtemGr commented on #34
Sounds good!
I can only offer a small bounty here, like $39.

[2022-02-02 11:11] ArtemGr opened #37 "code math"
Starting with https://youtu.be/YiqIkSHSmyc, I'm thinking of making some snippets and examples to demonstrate the AI-relevant math.

[2022-02-03 17:39] ArtemGr commented on #34
In Python we're currently experimenting with the built-in `http.client` (for streaming WARCs from Common Crawl, and to minimize overhead), so it is also preferable here (to compound on the experience).
Example:

[code]

p.s. Looks like [`requests`](https://pypi.org/project/requests/) is also all right.
p.s. [tf.keras.utils.get_file](https://www.tensorflow.org/api_docs/python/tf/keras/utils/get_fil

[2022-02-07 17:41] ArtemGr commented on #34
Forgot about this Rust script, https://github.com/ArtemGr/bounty/blob/dabcf6e/data/elm/mnist.rs. I'll simply call it from Python if needed. TY.

[2022-02-07 17:41] #34 closed

[2022-02-22 09:24] ArtemGr commented on #34
With `tensorflow` available in Python, obtaining MNIST can be reduced to `keras.datasets.mnist.load_data()`.

p.s. There is also https://github.com/LaurentMazare/tch-rs/blob/4325d3d/src/vision/mnist.rs.

[2022-03-14 13:44] ArtemGr commented on #34
A working example:
https://github.com/ArtemGr/bounty/blob/71c8c1e58ba7dfc858b6cd802283be156c30e7d5/data/math/jax-adabelief.py#L128-L137

[2022-03-27 03:40] ArtemGr commented on #36
I think I figured it out with https://github.com/ArtemGr/bounty/commit/9922ad179ab4aeed60e9e9942439b800f43c5126.  : D

We can embed domain knowledge, combine mutation with backpropagation, use strange activations and what not.

[2022-03-27 03:40] #36 closed

[2022-04-17 11:16] ArtemGr commented on #35
[code]

The rest is straightforward.

Note, also, that this is not much different from a traditional set of hidden layers. Specifics of the [computing reservoir](https://en.wikipedia.org/wiki/Reservoir_computing) are less important.

[2022-04-17 11:16] #35 closed

[2022-06-16 19:08] ArtemGr opened #38 "Port binary encoding from Rust to Python"
https://github.com/ArtemGr/bounty/blob/838e5a95e18627d124c0ddd43e02894767eb6063/data/common-crawl/csv-test.py#L5-L18

[2022-06-16 19:48] TheOsch commented on #38
There are two solutions: by using replace() or just like it's made in Rust, character by character. Now I'm measuring which is faster. Will send a PR in a couple of hours.

[2022-06-16 20:14] ArtemGr commented on #38
We're working in binary mode (fits well with memory mapping tricks, etc).

[2022-06-16 20:51] #38 closed

[2022-07-05 10:19] ArtemGr commented on #36
https://arxiv.org/pdf/1705.05502.pdf shows the power of deep, sparsely connected layers. As PushGP suggests, it might be possible to evolve a program operating on such a complex layered structure by mutating just a linear vector of instructions! Provided that these instructions include a stack or a memory access. (A single strand of DNA can unfold into a three-dimensional and multiplanar human.)
A

[2022-08-08 18:00] ArtemGr opened #40 "map animation"
In the context of https://github.com/ArtemGr/gun/issues/12, I'd like to post a bounty on making a virtual tabletop ANIMATION.

The idea is to represent the tasks as D&D enemies and the devs/freelancers as players, and make videos of the development process (where solving a tasks is represented as killing an enemy and moving over the tile map),

so I'm hoping that someone would show us how it's don

[2022-09-03 17:07] #40 closed

[2022-09-03 17:08] #37 closed